<div class="resume" *ngIf="!isOnPreview">
  <div class="title">
    <h1>Ваше резюме</h1>
  </div>
  <mat-vertical-stepper [linear]="false" #stepper animationDuration="2000">
    <mat-step
      [stepControl]="firstFormGroup"
      errorMessage="Поля заполнены не все"
    >
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Основная информация</ng-template>

        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Фамилия"
              formControlName="surname"
              required
            />
          </mat-form-field>

          <mat-error
            *ngIf="
              firstFormGroup.controls['surname'].hasError('required') &&
              firstFormGroup.controls['surname'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Имя" formControlName="name" required />
          </mat-form-field>

          <mat-error
            *ngIf="
              firstFormGroup.controls['name'].hasError('required') &&
              firstFormGroup.controls['name'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </div>

        <div>
          <mat-form-field>
            <input matInput placeholder="Город" formControlName="city" />
            <button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="openDialog()"
            >
              ...
            </button>
          </mat-form-field>

          <mat-error
            *ngIf="
              firstFormGroup.controls['city'].hasError('required') &&
              firstFormGroup.controls['city'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </div>

        <div class="gender">
          <div class="gender-text">
            <mat-label>Пол:</mat-label>
          </div>

          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button class="radio" value="Мужской">
              <label class="radio-text">Мужской</label>
            </mat-radio-button>
            <mat-radio-button class="radio" value="Женский">
              <label class="radio-text">Женский</label>
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div>
          <button
            class="btn-basic"
            mat-button
            matStepperNext
            [disabled]="firstFormGroup.invalid"
          >
            Далее
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Поля заполнены не все"
    >
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Контактная информация</ng-template>

        <div>
          <mat-form-field appearance="fill">
            <input
              type="email"
              matInput
              placeholder="E-mail"
              formControlName="email"
            />
          </mat-form-field>

          <mat-error
            *ngIf="
              secondFormGroup.controls['email'].hasError('email') &&
              !secondFormGroup.controls['email'].hasError('required') &&
              secondFormGroup.controls['email'].touched
            "
          >
            Пожалуйста, введите корректный email
          </mat-error>

          <mat-error
            *ngIf="
              secondFormGroup.controls['email'].hasError('required') &&
              secondFormGroup.controls['email'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </div>

        <div>
          <mat-form-field class="phone">
            <span matPrefix>+7 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="Телефон"
              formControlName="phone"
            />
          </mat-form-field>

          <mat-error
            *ngIf="
              !secondFormGroup.controls['phone'].hasError('required') &&
              secondFormGroup.controls['phone'].hasError('pattern') &&
              secondFormGroup.controls['phone'].touched
            "
          >
            Некорректный номер
          </mat-error>

          <mat-error
            *ngIf="
              secondFormGroup.controls['phone'].hasError('required') &&
              secondFormGroup.controls['phone'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </div>

        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Адрес"
              formControlName="address"
              required
            />
          </mat-form-field>

          <mat-error
            *ngIf="
              secondFormGroup.controls['address'].hasError('required') &&
              secondFormGroup.controls['address'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </div>

        <div>
          <mat-form-field appearance="fill">
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Дата рождения"
              formControlName="date"
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>

            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-error
            *ngIf="
              secondFormGroup.controls['date'].hasError('required') &&
              secondFormGroup.controls['date'].touched
            "
          >
            Выберите дату
          </mat-error>
        </div>

        <div>
          <button class="btn-basic" mat-button matStepperPrevious>Назад</button>
          <button
            class="btn-basic"
            mat-button
            matStepperNext
            [disabled]="secondFormGroup.invalid"
          >
            Далее
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step
      [stepControl]="thirdFormGroup"
      errorMessage="Соглашение не подтверждено"
    >
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Обработка данных</ng-template>

        <p>
          <mat-checkbox formControlName="agreement"
            >Подтверждаю согласие на обработку персональных данных </mat-checkbox
          ><mat-error
            *ngIf="
              thirdFormGroup.controls['agreement'].hasError('required') &&
              thirdFormGroup.controls['agreement'].touched
            "
          >
            Обязательное поле
          </mat-error>
        </p>
        <p>
          <mat-checkbox formControlName="notification"
            >Оповещать об уведомлениях</mat-checkbox
          >
        </p>

        <div>
          <button class="btn-basic" mat-button matStepperPrevious>Назад</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>

  <div class="btn">
    <button
      mat-button
      color="primary"
      type="submit"
      (click)="switchMode()"
      [disabled]="checkIfButtonDisabled()"
    >
      Предпросмотр
    </button>
  </div>
</div>

<div class="preview" *ngIf="isOnPreview">
  <div class="container">
    <div class="fio">
      {{
        this.firstFormGroup.value["surname"] +
          " " +
          this.firstFormGroup.value["name"]
      }}
    </div>

    <div class="container-preview">
      <div class="gender-age-agetext">
        {{ this.getGender() + " " + this.getAge() + " " + this.getAgeText() }}
      </div>

      <div class="date-row">
        {{ this.getDateRow() }}
      </div>

      <div>Город {{ this.firstFormGroup.value["city"] }}</div>

      <div>
        E-mail:
        <a
          class="email"
          [href]="'mailto:' + this.secondFormGroup.value['email']"
          >{{ this.secondFormGroup.value["email"] }}</a
        >
      </div>

      <div>
        Телефон:
        <a class="phone" [href]="'tel:+7' + this.secondFormGroup.value['phone']"
          >+7 {{ this.secondFormGroup.value["phone"] }}</a
        >
      </div>

      <div>Адрес: {{ this.secondFormGroup.value["address"] }}</div>
    </div>

    <div class="btn">
      <button mat-button color="primary" (click)="switchMode()">
        Редактировать
      </button>
    </div>
  </div>
</div>
